---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import PowerCalc from "@/components/PowerCalc";
---

<Layout title="Welcome to Astro.">
  <main>
    <PowerCalc client:load />
  </main>
</Layout>
